doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Just a simple Node + Express app for Puppet Pipelines Showcase
    link(rel='stylesheet', href='./style.css')
  body
    #container
      h1 Just a Simple Node + Express App for Puppet Pipelines Showcase
      h1 #{date}
      a(href="https://www.distelli.com" target="_blank") Built and Deployed by Distelli
